body{
    padding: 0;
    margin: 0;
    background-color: rgb(1, 163, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    background-color: pink;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;

}
.btn span{
    position: relative;
    z-index: 1;
    color:rgb(27, 21, 21);
}
.btn::before{
    content: " ";
    position: absolute;
    background-color: orangered;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height 0.5s;
    }
.btn:hover::before{
    width: 300px;
    height: 300px;

}


